<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
  <div class="card-body">
    <div class="cardDisplay">
      <div class="summaryCards">
        <div class="innerCard">
          <div class="customCard">
            <div class="customCardDetail">
              <b>Name</b><br />
              <b>Date</b><br />
              <b>Quantity</b><br />
              <b>Price Per Item</b><br />
            </div>
          </div>
        </div>
        <div class="footerButton">
          <button class="btn-create">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>